.form-control{
    margin: 20px;
  }
  .form-control label{
    display: block;
    margin-bottom: 5px;
    color: var(--clr-brand);
  }
  .form-control input[type="text"], .form-control input[type="date"]{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--clr-brand);
    border-radius: 3px;
    font-family: var(--ff-inter);
  }
  .form-control input[type="radio"]{
    /* width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--clr-brand);
    border-radius: 3px;
    font-family: var(--ff-inter); */
    display: flex;
    background-color: aquamarine;
    /* width: 30%; */
  }
  
  span{
    color: red;
    display: none;
    font-size:1.2rem;
  }
  input:invalid[focused="true"] ~ span {
    display: block;
  }